# Node modules
node_modules/
**/node_modules/

# Logs
npm-debug.log
*.log

# Environment variables
.env
.env.local
.env.production
.env.example
**/.env

# Build outputs
dist/
**/dist/
build/
**/build/

# OS-specific files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/
*.iml
*.ipr
*.iws
.history/

# Prisma
/server/prisma/
!/server/prisma/schema.prisma # Keep the schema file

# Other common files
coverage/
.nyc_output/
.cache/
.eslintcache
.prettierignore